.review-section .swiper-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.review-section .swiper {
  overflow: visible;
  /* background-color: red; */
  max-width: 350px;
  min-width: 300px;
  margin-right: 0;
  margin-left: 0;
  
}

.review-section .swiper-button-disabled {
  display: none;
}

.review-section .swiper-button-prev::after,
.review-section .swiper-button-next::after {
  /* background-color: #2F4858; */
  font-size: 30px;
}

.review-section .swiper-button-prev,
.review-section .swiper-button-next {
  top: 480px;
  width: 60px;
  height: 60px;
  transition: linear 150ms;
}

.review-section .swiper-button-next {
  left: 40%;
}

.review-section .swiper-button-prev:hover,
.review-section .swiper-button-next:hover {
  background-color: #2F4858;
  color: #fff;
  border-radius: 50%;
}