@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Lexend', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* tracking-tight text-center dark:text-white */
/* mt-6 text-lg text-slate-600 text-center max-w-3xl mx-auto dark:text-slate-400 
mt-4 text-3xl sm:text-4xl text-slate-900 font-extrabold tracking-tight dark:text-slate-50 
mb-2 leading-6 text-slate-900 font-semibold dark:text-slate-200 */

@layer base {
  h1 {
    @apply text-4xl sm:text-5xl lg:text-6xl font-extrabold text-center tracking-tight text-secondary capitalize;
  }

  h2 {
    @apply text-3xl sm:text-4xl font-extrabold tracking-tight text-primary capitalize;
  }

  .h2 {
    @apply text-3xl sm:text-4xl font-extrabold tracking-tight text-primary;
  }

  h3 {
    @apply text-[16px] font-semibold text-primary;
  }

  h4 {
    @apply text-[14px] text-primary;
  }

  .hero-desc {
    @apply mt-6 text-lg text-center max-w-3xl mx-auto font-normal text-secondary;
  }

  p {
    @apply text-base font-light;
  }

  .p-card {
    @apply text-sm
  }

  button {
    @apply text-sm rounded-[8px] font-semibold px-6 py-3 transition-all duration-150;
  }

  .btn-primary1 {
    @apply text-secondary border-[2px] border-primary bg-primary hover:bg-[#2f4858f1]; 
  }

  .btn-primary2 {
    @apply text-primary border-[2px] border-secondary bg-secondary hover:bg-[#e5e4e2e8] ; 
  }

  .btn-sec1 {
    @apply text-secondary border-[2px] border-secondary bg-transparent hover:bg-secondary hover:text-primary;
  }

  .btn-sec2 {
    @apply text-primary border-[2px] border-primary bg-transparent
    hover:bg-primary hover:text-secondary;
  }

  .btn-ghost1 {
    @apply text-secondary bg-transparent
    hover:bg-[#fafafa];
  }
  
  .btn-ghost2 {
    @apply text-primary bg-transparent
    hover:bg-[#fafafa];
  }

  .btn-disabled {
    @apply text-primary bg-gray-400 cursor-not-allowed
  }

  section {
    @apply px-[5%] py-20 md:py-32
  }

  .section-body {
    @apply mt-10;
  }

  .hero-section {
    @apply py-24 md:py-36
  }

  .section-container {
    @apply max-w-7xl mx-auto
  }

  .section-body {
    @apply mt-20
  }

  .active-link {
    @apply underline;
  }

  img {
    @apply w-full block
  }

  .card {
    @apply max-w-[400px] mx-auto shadow rounded overflow-hidden hover:shadow-primary transition-all duration-150 cursor-pointer;
  }

  header nav a:hover,
  footer a:hover,
  .quicknav a:hover {
    text-decoration: underline;
  }

  .portal-sidebar li {
    @apply p-1 rounded-sm
  }

  .portal-sidebar li:hover {
    @apply bg-secondary
  }

  .portal-sidebar li:hover h3 {
    @apply text-primary
  }

  .active-side-link {
    @apply bg-secondary rounded-sm
  }

  .active-side-link h3 {
    @apply text-primary
  }
}

.bg-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/bomso/bomso1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/about/hallway.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-bomso {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/bomso/bomso1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-ayeduase {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/ayeduase/ayeduase1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-gaza {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/gaza/gaza1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-team {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/team/teampic.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.dropdown {
  display: none;
}

.login-page .quick-nav-login {
  display: none;
}

.booknow-page .quick-nav-booknow {
  display: none;
}

td, th {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #2F4858;
  font-size: 14px;
  text-align: left;
}





@media screen and (min-width: 768px) {
  .dropdown {
    display: inline-block;
    margin-left: 5px;
  }
}

/* .dropdown-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px
} */